<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Page</title>
    <link href="./main.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="top-bar">
        <div class="nav-bar"><i class='bx bxs-home' ></i> 
            <a href="#">Home</a></div>
        <div class="nav-bar"><i class='bx bxs-box' ></i>
            <a href="/allorders?username=<%= newdata %>">All Orders</a></div>
        <div class="nav-bar"><i class='bx bxs-user-voice' ></i>
            <a href="#">Complaint</a></div>
    </div>